Generator/Schema/computerSet.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="computerSet" type="hudson.model.ComputerSet"/>
  <xsd:complexType name="hudson.model.ComputerSet">
    <xsd:sequence>
      <xsd:element name="busyExecutors" type="xsd:int"/>
      <xsd:element name="computer" type="hudson.model.Computer" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="displayName" type="xsd:string" minOccurs="0"/>
      <xsd:element name="totalExecutors" type="xsd:int"/>
    </xsd:sequence>
    <xsd:attribute name="_class" type="xsd:string" use="optional"/>
  </xsd:complexType>
  <xsd:complexType name="hudson.model.Computer">
    <xsd:complexContent>
      <xsd:extension base="hudson.model.Actionable">
        <xsd:sequence>
          <xsd:element name="assignedLabel" type="hudson.model.labels.LabelAtom" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element name="description" type="xsd:string" minOccurs="0"/>
          <xsd:element name="displayName" type="xsd:string" minOccurs="0"/>
          <xsd:element name="executor" type="hudson.model.Executor" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element name="icon" type="xsd:string" minOccurs="0"/>
          <xsd:element name="iconClassName" type="xsd:string" minOccurs="0"/>
          <xsd:element name="idle" type="xsd:boolean"/>
          <xsd:element name="jnlpAgent" type="xsd:boolean"/>
          <xsd:element name="launchSupported" type="xsd:boolean"/>
          <xsd:element name="loadStatistics" type="hudson.model.LoadStatistics" minOccurs="0"/>
          <xsd:element name="manualLaunchAllowed" type="xsd:boolean"/>
          <xsd:element name="monitorData" type="xsd:anyType" minOccurs="0"/>
          <xsd:element name="numExecutors" type="xsd:int"/>
          <xsd:element name="offline" type="xsd:boolean"/>
          <xsd:element name="offlineCause" type="hudson.slaves.OfflineCause" minOccurs="0"/>
          <xsd:element name="offlineCauseReason" type="xsd:string" minOccurs="0"/>
          <xsd:element name="oneOffExecutor" type="hudson.model.OneOffExecutor" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element name="temporarilyOffline" type="xsd:boolean"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="hudson.model.OneOffExecutor">
    <xsd:complexContent>
      <xsd:extension base="hudson.model.Executor">
        <xsd:sequence/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="hudson.slaves.OfflineCause">
    <xsd:sequence>
      <xsd:element name="timestamp" type="xsd:long"/>
    </xsd:sequence>
    <xsd:attribute name="_class" type="xsd:string" use="optional"/>
  </xsd:complexType>
  <xsd:complexType name="hudson.model.LoadStatistics">
    <xsd:sequence>
      <xsd:element name="availableExecutors" type="hudson.model.MultiStageTimeSeries" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation> Number of executors not executing and available to take work and how it changes over time.
 @since 1.607
</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="busyExecutors" type="hudson.model.MultiStageTimeSeries" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation> Number of busy executors and how it changes over time.
</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="connectingExecutors" type="hudson.model.MultiStageTimeSeries" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation> Number of executors in the process of coming on-line and how it changes over time.
 @since 1.607
</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="definedExecutors" type="hudson.model.MultiStageTimeSeries" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation> Number of executors defined for Jenkins and how it changes over time.
 @since 1.607
</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="idleExecutors" type="hudson.model.MultiStageTimeSeries" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation> Number of executors not executing and how it changes over time. Note the these executors may not be able to
 take work, see {@link #availableExecutors}.
 @since 1.607
</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="onlineExecutors" type="hudson.model.MultiStageTimeSeries" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation> Number of executors on-line and how it changes over time. Replaces {@link #totalExecutors}
 @since 1.607
</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="queueLength" type="hudson.model.MultiStageTimeSeries" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation> Number of {@link hudson.model.Queue.BuildableItem}s that can run on any node in this node set but blocked.
</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="totalExecutors" type="hudson.model.MultiStageTimeSeries" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation> Number of total executors and how it changes over time.
 @deprecated use {@link #onlineExecutors}. Note {@code totalExecutors==onlineExecutors} for backward
 compatibility support.
</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name="_class" type="xsd:string" use="optional"/>
  </xsd:complexType>
  <xsd:complexType name="hudson.model.MultiStageTimeSeries">
    <xsd:sequence>
      <xsd:element name="hour" type="hudson.model.TimeSeries" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation> Updated every 1 hour. Keep data up to 4 weeks.
</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="min" type="hudson.model.TimeSeries" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation> Updated every 1 min. Keep data up to 1 day.
</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="sec10" type="hudson.model.TimeSeries" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation> Updated every 10 seconds. Keep data up to 1 hour.
</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name="_class" type="xsd:string" use="optional"/>
  </xsd:complexType>
  <xsd:complexType name="hudson.model.TimeSeries">
    <xsd:sequence>
      <xsd:element name="history" type="xsd:anyType" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="latest" type="xsd:anyType"/>
    </xsd:sequence>
    <xsd:attribute name="_class" type="xsd:string" use="optional"/>
  </xsd:complexType>
  <xsd:complexType name="hudson.model.Executor">
    <xsd:sequence>
      <xsd:element name="currentExecutable" type="xsd:anyType" minOccurs="0"/>
      <xsd:element name="idle" type="xsd:boolean"/>
      <xsd:element name="likelyStuck" type="xsd:boolean"/>
      <xsd:element name="number" type="xsd:int"/>
      <xsd:element name="progress" type="xsd:int"/>
    </xsd:sequence>
    <xsd:attribute name="_class" type="xsd:string" use="optional"/>
  </xsd:complexType>
  <xsd:complexType name="hudson.model.labels.LabelAtom">
    <xsd:complexContent>
      <xsd:extension base="hudson.model.Label">
        <xsd:sequence>
          <xsd:element name="propertiesList" type="hudson.model.labels.LabelAtomProperty" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="hudson.model.labels.LabelAtomProperty">
    <xsd:sequence/>
    <xsd:attribute name="_class" type="xsd:string" use="optional"/>
  </xsd:complexType>
  <xsd:complexType name="hudson.model.Label">
    <xsd:complexContent>
      <xsd:extension base="hudson.model.Actionable">
        <xsd:sequence>
          <xsd:element name="busyExecutors" type="xsd:int"/>
          <xsd:element name="cloud" type="hudson.slaves.Cloud" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element name="description" type="xsd:string" minOccurs="0"/>
          <xsd:element name="idleExecutors" type="xsd:int"/>
          <xsd:element name="loadStatistics" type="hudson.model.LoadStatistics" minOccurs="0"/>
          <xsd:element name="name" type="xsd:string" minOccurs="0"/>
          <xsd:element name="node" type="hudson.model.Node" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element name="offline" type="xsd:boolean"/>
          <xsd:element name="tiedJob" type="hudson.model.AbstractProject" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element name="totalExecutors" type="xsd:int"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="hudson.model.AbstractProject">
    <xsd:complexContent>
      <xsd:extension base="hudson.model.Job">
        <xsd:sequence>
          <xsd:element name="concurrentBuild" type="xsd:boolean"/>
          <xsd:element name="downstreamProject" type="hudson.model.AbstractProject" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element name="labelExpression" type="xsd:string" minOccurs="0"/>
          <xsd:element name="scm" type="hudson.scm.SCM" minOccurs="0"/>
          <xsd:element name="upstreamProject" type="hudson.model.AbstractProject" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="hudson.scm.SCM">
    <xsd:sequence>
      <xsd:element name="browser" type="hudson.scm.RepositoryBrowser" minOccurs="0"/>
      <xsd:element name="type" type="xsd:string" minOccurs="0"/>
    </xsd:sequence>
    <xsd:attribute name="_class" type="xsd:string" use="optional"/>
  </xsd:complexType>
  <xsd:complexType name="hudson.scm.RepositoryBrowser">
    <xsd:sequence/>
    <xsd:attribute name="_class" type="xsd:string" use="optional"/>
  </xsd:complexType>
  <xsd:complexType name="hudson.model.Job">
    <xsd:complexContent>
      <xsd:extension base="hudson.model.AbstractItem">
        <xsd:sequence>
          <xsd:element name="allBuild" type="hudson.model.Run" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element name="buildable" type="xsd:boolean"/>
          <xsd:element name="build" type="hudson.model.Run" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element name="color" type="hudson.model.BallColor" minOccurs="0"/>
          <xsd:element name="firstBuild" type="hudson.model.Run" minOccurs="0"/>
          <xsd:element name="healthReport" type="hudson.model.HealthReport" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element name="inQueue" type="xsd:boolean"/>
          <xsd:element name="keepDependencies" type="xsd:boolean"/>
          <xsd:element name="lastBuild" type="hudson.model.Run" minOccurs="0"/>
          <xsd:element name="lastCompletedBuild" type="hudson.model.Run" minOccurs="0"/>
          <xsd:element name="lastFailedBuild" type="hudson.model.Run" minOccurs="0"/>
          <xsd:element name="lastStableBuild" type="hudson.model.Run" minOccurs="0"/>
          <xsd:element name="lastSuccessfulBuild" type="hudson.model.Run" minOccurs="0"/>
          <xsd:element name="lastUnstableBuild" type="hudson.model.Run" minOccurs="0"/>
          <xsd:element name="lastUnsuccessfulBuild" type="hudson.model.Run" minOccurs="0"/>
          <xsd:element name="nextBuildNumber" type="xsd:int"/>
          <xsd:element name="property" type="hudson.model.JobProperty" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element name="queueItem" type="hudson.model.Queue-Item" minOccurs="0"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="hudson.model.Queue-Item">
    <xsd:complexContent>
      <xsd:extension base="hudson.model.Actionable">
        <xsd:sequence>
          <xsd:element name="blocked" type="xsd:boolean"/>
          <xsd:element name="buildable" type="xsd:boolean"/>
          <xsd:element name="id" type="xsd:long"/>
          <xsd:element name="inQueueSince" type="xsd:long"/>
          <xsd:element name="params" type="xsd:string" minOccurs="0"/>
          <xsd:element name="stuck" type="xsd:boolean"/>
          <xsd:element name="task" type="xsd:anyType" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation> Project to be built.
</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="url" type="xsd:string" minOccurs="0"/>
          <xsd:element name="why" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="hudson.model.JobProperty">
    <xsd:sequence/>
    <xsd:attribute name="_class" type="xsd:string" use="optional"/>
  </xsd:complexType>
  <xsd:complexType name="hudson.model.HealthReport">
    <xsd:sequence>
      <xsd:element name="description" type="xsd:string" minOccurs="0"/>
      <xsd:element name="iconClassName" type="xsd:string" minOccurs="0"/>
      <xsd:element name="iconUrl" type="xsd:string" minOccurs="0"/>
      <xsd:element name="score" type="xsd:int"/>
    </xsd:sequence>
    <xsd:attribute name="_class" type="xsd:string" use="optional"/>
  </xsd:complexType>
  <xsd:complexType name="hudson.model.Run">
    <xsd:complexContent>
      <xsd:extension base="hudson.model.Actionable">
        <xsd:sequence>
          <xsd:element name="artifact" type="hudson.model.Run-Artifact" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element name="building" type="xsd:boolean"/>
          <xsd:element name="description" type="xsd:string" minOccurs="0"/>
          <xsd:element name="displayName" type="xsd:string" minOccurs="0"/>
          <xsd:element name="duration" type="xsd:long"/>
          <xsd:element name="estimatedDuration" type="xsd:long"/>
          <xsd:element name="executor" type="hudson.model.Executor" minOccurs="0"/>
          <xsd:element name="fingerprint" type="hudson.model.Fingerprint" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element name="fullDisplayName" type="xsd:string" minOccurs="0"/>
          <xsd:element name="id" type="xsd:string" minOccurs="0"/>
          <xsd:element name="keepLog" type="xsd:boolean"/>
          <xsd:element name="number" type="xsd:int"/>
          <xsd:element name="queueId" type="xsd:long"/>
          <xsd:element name="result" type="xsd:anyType" minOccurs="0"/>
          <xsd:element name="timestamp" type="xsd:long" minOccurs="0"/>
          <xsd:element name="url" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="hudson.model.Fingerprint">
    <xsd:sequence>
      <xsd:element name="fileName" type="xsd:string" minOccurs="0"/>
      <xsd:element name="hash" type="xsd:string" minOccurs="0"/>
      <xsd:element name="original" type="hudson.model.Fingerprint-BuildPtr" minOccurs="0"/>
      <xsd:element name="timestamp" type="xsd:anyType" minOccurs="0"/>
      <xsd:element name="usage" type="hudson.model.Fingerprint-RangeItem" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
    <xsd:attribute name="_class" type="xsd:string" use="optional"/>
  </xsd:complexType>
  <xsd:complexType name="hudson.model.Fingerprint-RangeItem">
    <xsd:sequence>
      <xsd:element name="name" type="xsd:string" minOccurs="0"/>
      <xsd:element name="ranges" type="hudson.model.Fingerprint-RangeSet" minOccurs="0"/>
    </xsd:sequence>
    <xsd:attribute name="_class" type="xsd:string" use="optional"/>
  </xsd:complexType>
  <xsd:complexType name="hudson.model.Fingerprint-RangeSet">
    <xsd:sequence>
      <xsd:element name="range" type="hudson.model.Fingerprint-Range" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
    <xsd:attribute name="_class" type="xsd:string" use="optional"/>
  </xsd:complexType>
  <xsd:complexType name="hudson.model.Fingerprint-Range">
    <xsd:sequence>
      <xsd:element name="end" type="xsd:int"/>
      <xsd:element name="start" type="xsd:int"/>
    </xsd:sequence>
    <xsd:attribute name="_class" type="xsd:string" use="optional"/>
  </xsd:complexType>
  <xsd:complexType name="hudson.model.Fingerprint-BuildPtr">
    <xsd:sequence>
      <xsd:element name="name" type="xsd:string" minOccurs="0"/>
      <xsd:element name="number" type="xsd:int"/>
    </xsd:sequence>
    <xsd:attribute name="_class" type="xsd:string" use="optional"/>
  </xsd:complexType>
  <xsd:complexType name="hudson.model.Run-Artifact">
    <xsd:sequence>
      <xsd:element name="displayPath" type="xsd:string" minOccurs="0"/>
      <xsd:element name="fileName" type="xsd:string" minOccurs="0"/>
      <xsd:element name="relativePath" type="xsd:string" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation> Relative path name from artifacts root.
</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name="_class" type="xsd:string" use="optional"/>
  </xsd:complexType>
  <xsd:complexType name="hudson.model.AbstractItem">
    <xsd:complexContent>
      <xsd:extension base="hudson.model.Actionable">
        <xsd:sequence>
          <xsd:element name="description" type="xsd:string" minOccurs="0"/>
          <xsd:element name="displayName" type="xsd:string" minOccurs="0"/>
          <xsd:element name="displayNameOrNull" type="xsd:string" minOccurs="0"/>
          <xsd:element name="fullDisplayName" type="xsd:string" minOccurs="0"/>
          <xsd:element name="fullName" type="xsd:string" minOccurs="0"/>
          <xsd:element name="name" type="xsd:string" minOccurs="0"/>
          <xsd:element name="url" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="hudson.model.Node">
    <xsd:sequence>
      <xsd:element name="assignedLabel" type="hudson.model.labels.LabelAtom" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="mode" type="hudson.model.Node-Mode" minOccurs="0"/>
      <xsd:element name="nodeDescription" type="xsd:string" minOccurs="0"/>
      <xsd:element name="nodeName" type="xsd:string" minOccurs="0"/>
      <xsd:element name="numExecutors" type="xsd:int"/>
    </xsd:sequence>
    <xsd:attribute name="_class" type="xsd:string" use="optional"/>
  </xsd:complexType>
  <xsd:complexType name="hudson.slaves.Cloud">
    <xsd:complexContent>
      <xsd:extension base="hudson.model.Actionable">
        <xsd:sequence/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="hudson.model.Actionable">
    <xsd:sequence>
      <xsd:element name="action" type="xsd:anyType" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
    <xsd:attribute name="_class" type="xsd:string" use="optional"/>
  </xsd:complexType>
  <xsd:simpleType name="hudson.model.Node-Mode">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="NORMAL"/>
      <xsd:enumeration value="EXCLUSIVE"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="hudson.model.BallColor">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="red"/>
      <xsd:enumeration value="red_anime"/>
      <xsd:enumeration value="yellow"/>
      <xsd:enumeration value="yellow_anime"/>
      <xsd:enumeration value="blue"/>
      <xsd:enumeration value="blue_anime"/>
      <xsd:enumeration value="grey"/>
      <xsd:enumeration value="grey_anime"/>
      <xsd:enumeration value="disabled"/>
      <xsd:enumeration value="disabled_anime"/>
      <xsd:enumeration value="aborted"/>
      <xsd:enumeration value="aborted_anime"/>
      <xsd:enumeration value="notbuilt"/>
      <xsd:enumeration value="notbuilt_anime"/>
    </xsd:restriction>
  </xsd:simpleType>
</xsd:schema>

