Tools/Schema/bldMaven.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="mavenModuleSetBuild" type="hudson.maven.MavenModuleSetBuild"/>
  <xsd:complexType name="hudson.maven.MavenModuleSetBuild">
    <xsd:complexContent>
      <xsd:extension base="hudson.maven.AbstractMavenBuild">
        <xsd:sequence>
          <xsd:element name="mavenArtifacts" type="hudson.maven.reporters.MavenAggregatedArtifactRecord" minOccurs="0"/>
          <xsd:element name="mavenVersionUsed" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="hudson.maven.reporters.MavenAggregatedArtifactRecord">
    <xsd:sequence>
      <xsd:element name="moduleRecord" type="hudson.maven.reporters.MavenArtifactRecord" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
    <xsd:attribute name="_class" type="xsd:string" use="optional"/>
  </xsd:complexType>
  <xsd:complexType name="hudson.maven.reporters.MavenArtifactRecord">
    <xsd:sequence>
      <xsd:element name="attachedArtifact" type="hudson.maven.reporters.MavenArtifact" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation> Attached artifacts. Can be empty but never null.
</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="mainArtifact" type="hudson.maven.reporters.MavenArtifact" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation> The main artifact (like jar or war, but could be anything.)

 If this is a POM module, the main artifact contains the same value as {@link #pomArtifact}.
</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="parent" type="hudson.maven.MavenBuild" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation> The build to which this record belongs.
</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="pomArtifact" type="hudson.maven.reporters.MavenArtifact" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation> POM artifact.
</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="url" type="xsd:string" minOccurs="0"/>
    </xsd:sequence>
    <xsd:attribute name="_class" type="xsd:string" use="optional"/>
  </xsd:complexType>
  <xsd:complexType name="hudson.maven.MavenBuild">
    <xsd:complexContent>
      <xsd:extension base="hudson.maven.AbstractMavenBuild">
        <xsd:sequence>
          <xsd:element name="mavenArtifacts" type="hudson.maven.reporters.MavenArtifactRecord" minOccurs="0"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="hudson.maven.reporters.MavenArtifact">
    <xsd:sequence>
      <xsd:element name="artifactId" type="xsd:string" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation> Basic parameters of a Maven artifact.
</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="canonicalName" type="xsd:string" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation> The canonical artifact file name, used by Maven in the repository.
 This is &lt;code&gt;artifactId-version[-classifier].extension&lt;/code&gt;.

 &lt;p&gt;
 The reason we persist this is that the extension is only available
 through {@link ArtifactHandler}. 
</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="classifier" type="xsd:string" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation> Basic parameters of a Maven artifact.
</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="fileName" type="xsd:string" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation> File name (without directory portion) of this artifact in the Hudson archive.
 Remembered explicitly because some times this doesn't follow the
 standard naming convention, due to {@code &lt;finalName&gt;} setting in POM.

 &lt;p&gt;
 This name is taken directly from the name of the file as used during the build
 (thus POM would be most likely just &lt;code&gt;pom.xml&lt;/code&gt; and artifacts would
 use their &lt;code&gt;finalName&lt;/code&gt; if one is configured.) This is often
 different from {@link #canonicalName}.
</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="groupId" type="xsd:string" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation> Basic parameters of a Maven artifact.
</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="md5sum" type="xsd:string" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation> The md5sum for this artifact.
</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="type" type="xsd:string" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation> Basic parameters of a Maven artifact.
</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="version" type="xsd:string" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation> Basic parameters of a Maven artifact.
</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name="_class" type="xsd:string" use="optional"/>
  </xsd:complexType>
  <xsd:complexType name="hudson.maven.AbstractMavenBuild">
    <xsd:complexContent>
      <xsd:extension base="hudson.model.AbstractBuild">
        <xsd:sequence/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="hudson.model.AbstractBuild">
    <xsd:complexContent>
      <xsd:extension base="hudson.model.Run">
        <xsd:sequence>
          <xsd:element name="builtOn" type="xsd:string" minOccurs="0"/>
          <xsd:element name="changeSet" type="hudson.scm.ChangeLogSet" minOccurs="0"/>
          <xsd:element name="culprit" type="hudson.model.User" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="hudson.model.User">
    <xsd:sequence>
      <xsd:element name="absoluteUrl" type="xsd:string" minOccurs="0"/>
      <xsd:element name="description" type="xsd:string" minOccurs="0"/>
      <xsd:element name="fullName" type="xsd:string" minOccurs="0"/>
      <xsd:element name="id" type="xsd:string" minOccurs="0"/>
      <xsd:element name="property" type="hudson.model.UserProperty" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
    <xsd:attribute name="_class" type="xsd:string" use="optional"/>
  </xsd:complexType>
  <xsd:complexType name="hudson.model.UserProperty">
    <xsd:sequence/>
    <xsd:attribute name="_class" type="xsd:string" use="optional"/>
  </xsd:complexType>
  <xsd:complexType name="hudson.scm.ChangeLogSet">
    <xsd:sequence>
      <xsd:element name="item" type="xsd:anyType" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="kind" type="xsd:string" minOccurs="0"/>
    </xsd:sequence>
    <xsd:attribute name="_class" type="xsd:string" use="optional"/>
  </xsd:complexType>
  <xsd:complexType name="hudson.model.Run">
    <xsd:complexContent>
      <xsd:extension base="hudson.model.Actionable">
        <xsd:sequence>
          <xsd:element name="artifact" type="hudson.model.Run-Artifact" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element name="building" type="xsd:boolean"/>
          <xsd:element name="description" type="xsd:string" minOccurs="0"/>
          <xsd:element name="displayName" type="xsd:string" minOccurs="0"/>
          <xsd:element name="duration" type="xsd:long"/>
          <xsd:element name="estimatedDuration" type="xsd:long"/>
          <xsd:element name="executor" type="hudson.model.Executor" minOccurs="0"/>
          <xsd:element name="fingerprint" type="hudson.model.Fingerprint" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element name="fullDisplayName" type="xsd:string" minOccurs="0"/>
          <xsd:element name="id" type="xsd:string" minOccurs="0"/>
          <xsd:element name="keepLog" type="xsd:boolean"/>
          <xsd:element name="number" type="xsd:int"/>
          <xsd:element name="queueId" type="xsd:long"/>
          <xsd:element name="result" type="xsd:anyType" minOccurs="0"/>
          <xsd:element name="timestamp" type="xsd:long" minOccurs="0"/>
          <xsd:element name="url" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="hudson.model.Fingerprint">
    <xsd:sequence>
      <xsd:element name="fileName" type="xsd:string" minOccurs="0"/>
      <xsd:element name="hash" type="xsd:string" minOccurs="0"/>
      <xsd:element name="original" type="hudson.model.Fingerprint-BuildPtr" minOccurs="0"/>
      <xsd:element name="timestamp" type="xsd:anyType" minOccurs="0"/>
      <xsd:element name="usage" type="hudson.model.Fingerprint-RangeItem" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
    <xsd:attribute name="_class" type="xsd:string" use="optional"/>
  </xsd:complexType>
  <xsd:complexType name="hudson.model.Fingerprint-RangeItem">
    <xsd:sequence>
      <xsd:element name="name" type="xsd:string" minOccurs="0"/>
      <xsd:element name="ranges" type="hudson.model.Fingerprint-RangeSet" minOccurs="0"/>
    </xsd:sequence>
    <xsd:attribute name="_class" type="xsd:string" use="optional"/>
  </xsd:complexType>
  <xsd:complexType name="hudson.model.Fingerprint-RangeSet">
    <xsd:sequence>
      <xsd:element name="range" type="hudson.model.Fingerprint-Range" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
    <xsd:attribute name="_class" type="xsd:string" use="optional"/>
  </xsd:complexType>
  <xsd:complexType name="hudson.model.Fingerprint-Range">
    <xsd:sequence>
      <xsd:element name="end" type="xsd:int"/>
      <xsd:element name="start" type="xsd:int"/>
    </xsd:sequence>
    <xsd:attribute name="_class" type="xsd:string" use="optional"/>
  </xsd:complexType>
  <xsd:complexType name="hudson.model.Fingerprint-BuildPtr">
    <xsd:sequence>
      <xsd:element name="name" type="xsd:string" minOccurs="0"/>
      <xsd:element name="number" type="xsd:int"/>
    </xsd:sequence>
    <xsd:attribute name="_class" type="xsd:string" use="optional"/>
  </xsd:complexType>
  <xsd:complexType name="hudson.model.Executor">
    <xsd:sequence>
      <xsd:element name="currentExecutable" type="xsd:anyType" minOccurs="0"/>
      <xsd:element name="idle" type="xsd:boolean"/>
      <xsd:element name="likelyStuck" type="xsd:boolean"/>
      <xsd:element name="number" type="xsd:int"/>
      <xsd:element name="progress" type="xsd:int"/>
    </xsd:sequence>
    <xsd:attribute name="_class" type="xsd:string" use="optional"/>
  </xsd:complexType>
  <xsd:complexType name="hudson.model.Run-Artifact">
    <xsd:sequence>
      <xsd:element name="displayPath" type="xsd:string" minOccurs="0"/>
      <xsd:element name="fileName" type="xsd:string" minOccurs="0"/>
      <xsd:element name="relativePath" type="xsd:string" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation> Relative path name from artifacts root.
</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name="_class" type="xsd:string" use="optional"/>
  </xsd:complexType>
  <xsd:complexType name="hudson.model.Actionable">
    <xsd:sequence>
      <xsd:element name="action" type="xsd:anyType" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
    <xsd:attribute name="_class" type="xsd:string" use="optional"/>
  </xsd:complexType>
</xsd:schema>

