Tools/Schema/buildGraph.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="buildGraph" type="org.jenkinsci.plugins.buildgraphview.BuildGraph"/>
  <xsd:complexType name="org.jenkinsci.plugins.buildgraphview.BuildGraph">
    <xsd:sequence>
      <xsd:element name="buildGraph" type="xsd:string" minOccurs="0"/>
    </xsd:sequence>
    <xsd:attribute name="_class" type="xsd:string" use="optional"/>
  </xsd:complexType>
</xsd:schema>

